.a-body {
  color: var(--font-color);

  /* styles replicated in typography to allow isolation */
  font: var(--font-primary);
  text-rendering: optimizeLegibility;
}

*,
::after,
::before {
  box-sizing: border-box;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
}

li,
ul {
  list-style: none;
  padding: 0;
}
