.astro__body { /* styles replicated in typography to allow isolation */
  font: var(--font-primary);
  color: var(--font-color);
  text-rendering: optimizeLegibility;
}

*,
::after,
::before {
  box-sizing: border-box;
}

figure {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

li,
ul {
  list-style: none;
  padding: 0;
}

.astro__link {
  color: var(--color-uranus-700);
  text-decoration: underline;
  cursor: pointer;
  word-wrap: break-word;
}

.astro__link:hover {
  color: var(--color-uranus-500);
}

.astro__link:active {
  color: var(--color-uranus-800);
}

.astro__link.astro__btn {
  text-decoration: none;
}
