:root {
  --checkbox-square-size: 16px;
}

.a-checkbox {
  align-items: center;
  display: flex;
  position: relative;
}

.a-checkbox > label {
  cursor: pointer;
  font: var(--font-secondary);
  order: 2;
  padding-left: 8px;
}

.a-checkbox--disabled > label {
  color: var(--color-moon-200);
  cursor: not-allowed;
}

.a-checkbox > input[type='checkbox'] {
  cursor: pointer;
  height: var(--checkbox-square-size);
  margin: 4px 0;
  opacity: 0;
  order: 1;
  position: absolute;
  width: var(--checkbox-square-size);
  z-index: var(--z-index-1);
}

.a-checkbox__shape::before {
  border: 2px solid var(--color-moon-500);
  border-radius: 2px;
  content: '';
  display: inline-block;
  height: var(--checkbox-square-size);
  width: var(--checkbox-square-size);
}

.a-checkbox__shape::after {
  border-bottom: 2px solid;
  border-left: 2px solid;
  color: var(--color-space-100);
  content: '';
  height: 6px;
  left: 3px;
  position: absolute;
  top: 5px;
  transform: rotate(-45deg);
  width: 10px;
}

.a-checkbox--indeterminate > .a-checkbox__shape::after {
  border-left: 0;
  left: 4px;
  top: 9px;
  transform: rotate(-180deg);
  width: 8px;
}

.a-checkbox--indeterminate > input[type='checkbox']:disabled ~ .a-checkbox__shape::before {
  background-color: var(--color-moon-200);
}

.a-checkbox > input[type='checkbox']:focus ~ .a-checkbox__shape::before {
  box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
}

.a-checkbox > input[type='checkbox']:checked ~ .a-checkbox__shape::before {
  background-color: var(--color-uranus-500);
  border-color: var(--color-uranus-500);
}

.a-checkbox > input[type='checkbox']:disabled ~ .a-checkbox__shape::before {
  border-color: var(--color-moon-200);
}

.a-checkbox > input[type='checkbox']:checked:disabled ~ .a-checkbox__shape::before {
  background-color: var(--color-moon-200);
}

.a-checkbox > input[type='checkbox']:disabled {
  cursor: not-allowed;
}

.a-checkbox > input[type='checkbox']:hover:not(:disabled) ~ .a-checkbox__shape::before {
  border-color: var(--color-uranus-500);
}
