/* Base elements */

.a-dropdown {
  position: relative;
}

.a-dropdown label {
  color: var(--color-moon-400);
  font: var(--font-secondary);
  font-size: var(--font-size-1-5base);
  font-weight: 700;
  left: 16px;
  pointer-events: none;
  position: absolute;
  top: 8px;
}

.a-dropdown input {
  appearance: none;
  background-color: var(--color-space-100);
  border: 1px solid var(--color-moon-500);
  border-radius: 8px;
  color: var(--font-color);
  font: var(--font-secondary);
  padding: 24px 56px 4px 16px;
  width: 100%;
}

.a-dropdown span {
  background-color: var(--color-moon-300);
  display: block;
  height: 32px;
  mask-image: url('../../assets/icons/drop-down.svg');
  position: absolute;
  top: 12px;
  right: 16px;
  width: 32px;
}

.a-dropdown input::placeholder {
  color: var(--color-moon-400);
}

/* Options list */

.a-dropdown input ~ ul {
  background-color: var(--color-space-100);
  border-color: var(--color-uranus-500);
  border-radius: 0 0 8px 8px;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  display: none;
  margin: 0;
  min-height: 2em;
  padding-bottom: 16px;
  position: absolute;
  width: 100%;
  z-index: var(--z-index-1);
}

.a-dropdown input ~ ul a {
  color: var(--color-moon-300);
  display: block;
  font: var(--font-secondary);
  padding: 4px 16px;
}

.a-dropdown input ~ ul a:hover {
  background-color: #f1f8fe;
  color: var(--color-moon-400);
  cursor: pointer;
}

.a-dropdown input ~ ul a em {
  color: var(--color-uranus-500);
  font-style: normal;
}

/* Opened state */

.a-dropdown.a-dropdown--opened input,
.a-dropdown input:focus {
  border-color: var(--color-uranus-500);
  outline: none;
}

.a-dropdown.a-dropdown--opened input {
  border-bottom-color: transparent;
  border-radius: 8px 8px 0 0;
}

.a-dropdown input:focus ~ label,
.a-dropdown.a-dropdown--opened input ~ label {
  color: var(--color-uranus-500);
}

.a-dropdown.a-dropdown--opened input ~ span {
  background-color: var(--color-uranus-500);
  mask-image: url('../../assets/icons/drop-up.svg');
}

.a-dropdown.a-dropdown--opened input ~ ul {
  display: block;
}

/* Search variant */

.a-dropdown.a-dropdown--search i {
  background-color: var(--color-moon-600);
  mask-image: url('../../assets/icons/magnifier.svg');
  top: 8px;
}

.a-dropdown.a-dropdown--search.a-dropdown--opened input ~ span {
  background-color: var(--color-uranus-500);
  mask-image: url('../../assets/icons/magnifier.svg');
}

.a-dropdown i:hover,
.a-dropdown.a-dropdown--search i:hover {
  cursor: pointer;
  background-color: var(--color-uranus-500);
}

.a-dropdown.a-dropdown--search label {
  display: none;
}

.a-dropdown.a-dropdown--search input {
  padding: 12px 16px;
}

/* Disabled state */

.a-dropdown.a-dropdown--disabled input,
.a-dropdown.a-dropdown--disabled span {
  background-color: var(--color-moon-100);
  border: 1px solid var(--color-moon-200);
  color: var(--color-moon-300);
  cursor: not-allowed;
}

/* Validated state */

.a-dropdown.a-dropdown--validated input,
.a-dropdown.a-dropdown--validated.a-dropdown--opened input ~ ul {
  border-color: var(--color-earth-400);
}

.a-dropdown.a-dropdown--validated.a-dropdown--opened input {
  border-bottom-color: transparent;
}

.a-dropdown.a-dropdown--validated input:focus ~ label,
.a-dropdown.a-dropdown--validated.a-dropdown--opened input ~ label {
  color: var(--color-earth-600);
}

.a-dropdown.a-dropdown--validated i {
  mask-image: url('../../assets/icons/circle-check.svg');
}

.a-dropdown.a-dropdown--validated i,
.a-dropdown.a-dropdown--validated.a-dropdown--opened input ~ span {
  background-color: var(--color-earth-400);
}

/* Invalid state */

.a-dropdown.a-dropdown--invalid input,
.a-dropdown.a-dropdown--invalid.a-dropdown--opened input ~ ul {
  border-color: var(--color-mars-500);
}

.a-dropdown.a-dropdown--invalid.a-dropdown--opened input {
  border-bottom-color: transparent;
}

.a-dropdown.a-dropdown--invalid input:focus ~ label,
.a-dropdown.a-dropdown--invalid.a-dropdown--opened input ~ label {
  color: var(--color-mars-500);
}

.a-dropdown.a-dropdown--invalid i {
  mask-image: url('../../assets/icons/alert.svg');
}

.a-dropdown.a-dropdown--invalid span,
.a-dropdown.a-dropdown--invalid.a-dropdown--opened input ~ span {
  background-color: var(--color-mars-500);
}
