/* Base */

.a-tabs {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

/* Border */

.a-tabs__border {
  border: solid 1px var(--color-moon-300);
  border-radius: 24px;
  display: block;
  height: 48px;
  position: absolute;
  width: 100%;
  z-index: var(--z-index-1);
}

/* Default component */

.a-tabs > .a-tabs__item {
  opacity: 0;
  position: absolute;
}

/* Tab */

.a-tabs > .a-tabs__label {
  align-items: center;
  border: none;
  border-radius: 24px;
  color: var(--color-moon-500);
  display: flex;
  flex: 1;
  font: var(--font-primary);
  font-size: var(--font-size-1-5base);
  font-weight: 600;
  justify-content: center;
  margin: 4px 0;
  min-height: 40px;
  min-width: 0;
  padding: 8px 32px;
  text-align: center;
  text-transform: lowercase;
  transition: background-color 0.3s ease, color 0.3s ease;
  white-space: nowrap;
  width: 100%;
  z-index: var(--z-index-2);
}

.a-tabs > .a-tabs__label:first-of-type {
  margin-left: 4px;
}

.a-tabs > .a-tabs__label:last-of-type {
  margin-right: 4px;
}

/* Icon */

.a-tabs__icon {
  background-color: var(--color-moon-500);
  min-width: 16px;
  transition: background-color 0.3s ease;
}

/* Contents */

.a-tabs > .a-tabs__content {
  display: none;
  order: 99;
  padding: 16px;
  width: 100%;
}

/* Current content */

.a-tabs > .a-tabs__item:checked + .a-tabs__label + .a-tabs__content {
  display: block;
}

/* Focus state */

.a-tabs > .a-tabs__item:focus + .a-tabs__label {
  box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
}

/* Active state */

.a-tabs > .a-tabs__item:checked + .a-tabs__label {
  background-color: var(--color-uranus-500);
  color: var(--color-space-100);
}

.a-tabs > .a-tabs__item:checked + .a-tabs__label .a-tabs__icon {
  background-color: var(--color-moon-100);
}

/* Hover state */

.a-tabs > .a-tabs__item:not(:checked):hover + .a-tabs__label {
  background-color: var(--color-moon-200);
  cursor: pointer;
}

@media only screen and (max-width: 47em) {
  /* Small screens or not horizontal tabs */

  .a-tabs:not(.a-tabs--horizontal) .a-tabs__border {
    display: none;
  }

  .a-tabs:not(.a-tabs--horizontal) > .a-tabs__label {
    border: solid 1px var(--color-moon-300);
    flex: auto;
  }

  .a-tabs:not(.a-tabs--horizontal) > .a-tabs__label:first-of-type {
    margin-left: 0;
  }

  .a-tabs:not(.a-tabs--horizontal) > .a-tabs__label:last-of-type {
    margin-right: 0;
  }

  /* Hover state */

  .a-tabs:not(.a-tabs--horizontal) > .a-tabs__item:checked + .a-tabs__label {
    border-color: var(--color-uranus-500);
  }
}
