/* Display */

.astro__text--display {
  font: var(--font-primary);
  font-size: 64px;
  font-weight: 700;
  color: var(--font-color);
}

/* Title */

.astro__title--large {
  font: var(--font-primary);
  font-size: 48px;
  color: var(--font-color);
}

.astro__title--medium {
  font: var(--font-primary);
  font-size: 40px;
  color: var(--font-color);
}

.astro__title--small {
  font: var(--font-primary);
  font-size: 32px;
  color: var(--font-color);
}

/* Paragraph */

.astro__text--large {
  font: var(--font-primary);
  font-size: 24px;
  color: var(--font-color);
}

.astro__text--medium {
  font: var(--font-primary);
  color: var(--font-color);
}

.astro__text--small {
  font: var(--font-primary);
  font-size: 12px;
  color: var(--font-color);
}

/* Secondary font */

.astro__text--secondary--large {
  font: var(--font-secondary);
  font-size: 24px;
  color: var(--font-color);
}

.astro__text--secondary--medium {
  font: var(--font-secondary);
  color: var(--font-color);
}

.astro__text--secondary--small {
  font: var(--font-secondary);
  font-size: 12px;
  color: var(--font-color);
}
