/* Display */

.text--display {
  font-size: 64px;
  font-weight: 700;
}

/* Bold headings */

.heading-bold--small {
  font-size: 32px;
  font-weight: 700;
}

.heading-bold--medium {
  font-size: 40px;
  font-weight: 700;
}

.heading-bold--large {
  font-size: 48px;
  font-weight: 700;
}

/* Light headings */

.heading-light--small {
  font-size: 24px;
  font-weight: 500;
}

.heading-light--medium {
  font-size: 32px;
  font-weight: 500;
}

.heading-light--large {
  font-size: 40px;
  font-weight: 500;
}

/* Paragraph */

p.text--small {
  font-size: 12px;
}

p.text--large {
  font-size: 24px;
}

/* Secondary font */

p.text--secondary {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
}

p.text--secondary.text--small {
  font-size: 16px;
}

p.text--secondary.text--large {
  font-size: 32px;
}
